<div 
  *ngIf="isOpen" 
  class="mobile-overlay"
  (click)="closeSidebar.emit()">
</div>

<div class="sidebar-container" [class.is-open]="isOpen">
  
  <button (click)="closeSidebar.emit()" class="mobile-close-btn">
    <mat-icon svgIcon="mobile-close-btn"></mat-icon>
  </button>

  <div class="logo-section">
    <a routerLink="/about-us" (click)="handleLinkClick()">
      <img 
        src="/bannerLogo.svg" 
        alt="TaskUS Logo" 
        class="sidebar-logo" 
      />
    </a>
  </div>

  <nav class="nav-container" *ngIf="authService.user$ | async as user">
    
    <a routerLink="/dashboard" (click)="handleLinkClick()" class="nav-link" [class.active]="isActive('/dashboard')">
      <mat-icon svgIcon="dashboard"></mat-icon>
      <span class="nav-text">Dashboard</span>
    </a>

    <a routerLink="/projects" (click)="handleLinkClick()" class="nav-link" [class.active]="isActive('/projects')">
      <mat-icon svgIcon="projects"></mat-icon>
      <span class="nav-text">Projects</span>
    </a>

    <ng-container *ngIf="user.role === 'admin'">
      <div class="divider-container">
        <hr class="nav-divider" />
      </div>

      <a routerLink="/admin/users" (click)="handleLinkClick()" class="nav-link" [class.active]="isActive('/admin/users')">
      <mat-icon svgIcon="users"></mat-icon>
        <span class="nav-text">Users</span>
      </a>

      <a routerLink="/admin/organisation" (click)="handleLinkClick()" class="nav-link" [class.active]="isActive('/admin/organisation')">
        <mat-icon svgIcon="organisation"></mat-icon>
        <span class="nav-text">Organisation</span>
      </a>
    </ng-container>

  </nav>

  <div class="profile-section" #profileRef>
    <button (click)="toggleProfile()" class="nav-link w-full" [class.active]="isActive('/profile')">
      <mat-icon svgIcon="profile"></mat-icon>
      <span class="nav-text">Profile</span>
    </button>

    <div *ngIf="isProfileOpen" class="profile-dropdown">
      <button 
        (click)="router.navigate(['/profile']); handleLinkClick(); isProfileOpen = false" 
        class="dropdown-item rounded-top">
        View Profile
      </button>

      <button 
        (click)="handleLogout(); isProfileOpen = false" 
        class="dropdown-item text-danger rounded-bottom">
        Log out
      </button>
    </div>
  </div>

</div>