<div class="banner-container">
  <div class="banner-main">
    <a routerLink="/" class="logo-link">
      <img src="/bannerLogo.svg" alt="TaskUS Logo" class="logo-img" />
    </a>
    
    <p class="slogan">
      Make task managing <span class="highlight-text">easier</span>
    </p>
  </div>

  <div class="banner-footer">
    <p class="footer-text">
      Made By Salvador Ramón Espinosa Merino
    </p>
    
    <div class="social-icons">
      <button (click)="openGithub()" class="icon-btn">
        <mat-icon svgIcon="github"></mat-icon>
      </button>
      <button (click)="openLinkedin()" class="icon-btn">
        <mat-icon svgIcon="linkedin"></mat-icon>
      </button>
    </div>
  </div>
</div>