@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Your custom colors */
    --background: 0 0% 100%;
    --foreground: 193 20% 20%;
    --banner-bg: 193 30% 95%;
    --card: 193 40% 40%;
    --card-foreground: 193 30% 95%;
    --popover: 193 40% 80%;
    --popover-foreground: 193 20% 20%;
    --primary: 193 40% 40%;
    --primary-foreground: 193 30% 95%;
    --secondary: 193 40% 80%;
    --secondary-foreground: 193 20% 20%;
    --muted: 193 40% 80%;
    --muted-foreground: 193 20% 40%;
    --accent: 193 40% 80%;
    --accent-foreground: 193 20% 20%;
    --status-pending: 359 60% 50%;
    --status-progress: 58 60% 50%;
    --status-done: 106 60% 50%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 193 40% 80%;
    --input: 193 40% 80%;
    --ring: 193 40% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 193 20% 20%;
    --foreground: 193 30% 95%;
    --card: 193 20% 20%;
    --card-foreground: 193 30% 95%;
    --popover: 193 20% 20%;
    --popover-foreground: 193 30% 95%;
    --primary: 193 40% 50%;
    --primary-foreground: 193 20% 20%;
    --secondary: 193 30% 25%;
    --secondary-foreground: 193 30% 95%;
    --muted: 193 30% 25%;
    --muted-foreground: 193 40% 70%;
    --accent: 193 40% 50%;
    --accent-foreground: 193 30% 95%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 193 30% 95%;
    --border: 193 30% 25%;
    --input: 193 30% 25%;
    --ring: 193 40% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}